// PLAYERS PANEL CONTROL BUTTONS

#players {
  #players-active {
    .players-list{
      .player {
        .ready-check-reloaded-status {
          flex: 0 0 8px;
          margin-left: 8px;
          padding-top: 4px;
        }
      }
    }
  }

  #ready-check-reloaded-controls {
    display: flex;
    width: 200px;
    gap:8px;

    button {
      flex-grow:1;
    }
  }
}

// READY CHECK APP

#ready-check-app {
  
  .info-container {
    .status {
      font-weight: bold;
    }
  }
  .users-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 10px;
    margin-top: 10px;
    
    .user-card {
      text-align: center;
      display: grid;
      padding: 5px;
      border: 1px solid;
      border-radius: 5px;
      
      .user-img {
        width: 150px;
        height: 150px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          border: none;
          max-height: 100%;
          max-width: 100%;
        }
      }

      .user-status {
        font-weight: bold;
      }
    }
  }

  .controls {
    display: flex;
    margin-top:10px;
    gap: 10px;
    button {
      width: 100%;
    }
  }
}

// THEME-SPECIFIC ICON COLORATION

body.theme-dark {
  #players {
    #players-active {
      .players-list{
        .player {
          .ready-check-reloaded-status {
            &.ready {
              color: lime;
            }
            &.not-ready {
              color: red;
            }
          }
        }
      }
    }
  }

  #ready-check-app {
    .users-container {    
      .user-card {
        border-color: #6e0000;
        background-color:#ffdddd;
        color: black;
        // .user-name {
        //   color: black;
        // }

        .user-status {
          color: #940000;
        }
  
        &.ready {
          background: #c7d0c0;
          border-color: #006c00;
          
          .user-status{
            color: green;
          }
        }
  
        &.offline {
          background-color:rgb(149, 149, 149);
          border-color: black;

          .user-status{
            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}

body.theme-light {
  #players {
    #players-active {
      .players-list{
        .player {
          .ready-check-reloaded-status {
            &.ready {
              color: green;
            }
            &.not-ready {
              color: red;
            }
          }
        }
      }
    }
  }

  #ready-check-app {
    .users-container {    
      .user-card {
        border-color: #6e0000;
        background-color:#ffdddd;

        .user-status {
          color: #940000;
        }
  
        &.ready {
          background: #c7d0c0;
          border-color: #006c00;
          
          .user-status{
            color: green;
          }
        }
  
        &.offline {
          background-color:rgb(149, 149, 149);
          border-color: black;
          .user-status{
            color: rgb(0, 0, 0);
          }
        }
      }
    }
  }
}