#players {
  #player-list {
    .player {
      .ready-check-reloaded-status {
        flex: 0 0 8px;
        margin-left: 8px;
        padding-top: 4px;
        &.ready {
          color: lime;
        }
        &.not-ready {
          color: red;
        }
      }
    }
  }

  #ready-check-reloaded-controls {
    display: flex;
    margin:4px 2px 4px 2px;
  }
}

#ready-check-app {
  padding: 10px;
  .info-container {
    .status {
      font-weight: bold;
    }
  }
  .users-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    .user-card {
      text-align: center;
      display: grid;
      padding: 5px;
      margin: 10px;
      border: 1px solid #6e0000;
      background-color:#ffdddd;
      border-radius: 5px;
      box-shadow: 2px 2px 10px #888888;
      
      .user-img {
        width: 150px;
        img {
          border: none;
        }
      }

      .user-status {
        font-weight: bold;
        color: #940000;
      }

      &.ready {
        background: #c7d0c0;
        border: 1px solid #006c00;
        
        .user-status{
          color: green;
        }
      }

      &.offline {
        background-color:rgba(143, 143, 143, 0.5);
        border-color: black;
        .user-status{
          color: rgb(0, 0, 0);
        }
      }
    }
  }
  .controls {
    display: flex;
    margin-top:10px;
    button{
      border: 1px solid rgba(0,0,0,.5);
      box-shadow: 1px 1px 5px #888888;
      &:hover{
        outline: none;
        box-shadow: 0 0 5px var(--color-shadow-primary);
      }
    }
  }
}