#players #players-active .players-list .player .ready-check-reloaded-status {
  flex: 0 0 8px;
  margin-left: 8px;
  padding-top: 4px;
}
#players #ready-check-reloaded-controls {
  display: flex;
  width: 200px;
  gap: 8px;
}
#players #ready-check-reloaded-controls button {
  flex-grow: 1;
}

#ready-check-app .info-container .status {
  font-weight: bold;
}
#ready-check-app .users-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  gap: 10px;
  margin-top: 10px;
}
#ready-check-app .users-container .user-card {
  text-align: center;
  display: grid;
  padding: 5px;
  border: 1px solid;
  border-radius: 5px;
}
#ready-check-app .users-container .user-card .user-img {
  width: 150px;
  height: 150px;
}
#ready-check-app .users-container .user-card .user-img img {
  border: none;
  max-height: 100%;
  max-width: 100%;
}
#ready-check-app .users-container .user-card .user-status {
  font-weight: bold;
}
#ready-check-app .controls {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}
#ready-check-app .controls button {
  width: 50%;
}

body.theme-dark #players #players-active .players-list .player .ready-check-reloaded-status.ready {
  color: lime;
}
body.theme-dark #players #players-active .players-list .player .ready-check-reloaded-status.not-ready {
  color: red;
}
body.theme-dark #ready-check-app .users-container .user-card {
  border-color: #6e0000;
  background-color: #ffdddd;
  color: black;
}
body.theme-dark #ready-check-app .users-container .user-card .user-status {
  color: #940000;
}
body.theme-dark #ready-check-app .users-container .user-card.ready {
  background: #c7d0c0;
  border-color: #006c00;
}
body.theme-dark #ready-check-app .users-container .user-card.ready .user-status {
  color: green;
}
body.theme-dark #ready-check-app .users-container .user-card.offline {
  background-color: rgb(149, 149, 149);
  border-color: black;
}
body.theme-dark #ready-check-app .users-container .user-card.offline .user-status {
  color: rgb(0, 0, 0);
}

body.theme-light #players #players-active .players-list .player .ready-check-reloaded-status.ready {
  color: green;
}
body.theme-light #players #players-active .players-list .player .ready-check-reloaded-status.not-ready {
  color: red;
}
body.theme-light #ready-check-app .users-container .user-card {
  border-color: #6e0000;
  background-color: #ffdddd;
}
body.theme-light #ready-check-app .users-container .user-card .user-status {
  color: #940000;
}
body.theme-light #ready-check-app .users-container .user-card.ready {
  background: #c7d0c0;
  border-color: #006c00;
}
body.theme-light #ready-check-app .users-container .user-card.ready .user-status {
  color: green;
}
body.theme-light #ready-check-app .users-container .user-card.offline {
  background-color: rgb(149, 149, 149);
  border-color: black;
}
body.theme-light #ready-check-app .users-container .user-card.offline .user-status {
  color: rgb(0, 0, 0);
}